[credential]
	helper = store
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	cm = commit -m
	a = add .
	p = !git push origin $(git rev-parse --abbrev-ref HEAD)
[core]
	editor = vi
